.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
}

.search {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    border: 2px solid var(--color-text);
    outline: none;
    width: 100%;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--color-background);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    width: 100%;
    height: 100%;
    overflow: auto;
}
